<div class="row">
  <div class="col-md-12 col-lg-4 col-xxxl-4">
    <nb-card data-testid="common-date-picker-card">
      <nb-card-header>Common Datepicker</nb-card-header>
      <nb-card-body>
        <input nbInput
               placeholder="Form Picker"
               [nbDatepicker]="formpicker" data-testid="common-date-picker-input">
        <nb-datepicker #formpicker data-testid="common-date-picker-calendar"></nb-datepicker>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-4 col-xxxl-4">
    <nb-card data-testid="with-range-date-picker-card">
      <nb-card-header>Datepicker With Range</nb-card-header>
      <nb-card-body>
        <input nbInput placeholder="Range Picker" [nbDatepicker]="rangepicker" data-testid="with-range-date-picker-input">
        <nb-rangepicker #rangepicker></nb-rangepicker>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-12 col-lg-4 col-xxxl-4">
    <nb-card data-testid="disabled-min-max-value-card">
      <nb-card-header>Datepicker With Disabled Min Max Values</nb-card-header>
      <nb-card-body>
        <input nbInput placeholder="Min Max Picker" [nbDatepicker]="picker" data-testid="disabled-min-max-value-input">
        <nb-datepicker #picker [min]="min" [max]="max"></nb-datepicker>
      </nb-card-body>
    </nb-card>
  </div>
</div>
